@import "../variables.scss";

.navbar {
	align-items: center;
	background-color: $main;
	display: flex;
	height: 5rem;
	justify-content: space-between;
	padding: 0 5rem;
}
.logo {
	width: 120px;
	transition: scale 0.4s ease-in-out;
	scale: 1;
	&:hover {
		scale: 1.08;
	}
}
.navMenuWrapper {
	height: 100%;
	position: fixed;
	transition: left 0.3s ease-in-out;
	left: -100%;
	top: 0;
	width: 100%;
	&.open {
		display: block;
		left: 0;
		.navMenu {
			left: 0;
		}
	}
}
.navMenu {
	background-color: $background;
	height: 100%;
	left: -100%;
	list-style: none;
	margin: 0;
	padding: 3rem 0;
	position: fixed;
	transition: left 0.3s ease-in-out;
	top: 0;
	a {
		color: $white;
		display: block;
		font-size: 16px;
		padding: 2.5rem 10rem;
		text-decoration: none;
		text-align: center;
		letter-spacing: 1px;
		&:hover {
			background-color: $main;
			color: $black;
		}
	}
}
.hamburgerBtn {
	padding: 2rem 0;
	position: relative;
	width: 33px;
	&.open {
		.hamburger {
			background-color: transparent;
			// transform: translateX(0px);
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}
.hamburger {
	background-color: $foreground;
	height: $hamburgerBarHeight;
	transition: background-color 0.3s ease-in-out,
		transform 0.3s ease-in;
	width: 100%;
	&::before {
		background-color: $foreground;
		content: "";
		display: block;
		height: $hamburgerBarHeight;
		transition: transform 0.3s ease-in-out;
		transform: translateY(-8px);
		width: 100%;
		position: absolute;
	}
	&::after {
		background-color: $foreground;
		content: "";
		display: block;
		height: $hamburgerBarHeight;
		transform: translateY(8px);
		transition: transform 0.3s ease-in-out;
		width: 100%;
		position: absolute;
	}
}
@media (min-width: $laptop) {
	.navMenu {
		align-items: center;
		background: none;
		display: flex;
		padding: 0;
		gap: 2rem;
		position: static;
		a {
			background-color: transparent;
			color: $foreground;
			padding: 1rem 0;
			&::after {
				background-color: $foreground;
				content: "";
				display: block;
				height: 2px;
				margin-top: 4px;
				transition: width 0.2s ease-in-out;
				width: 0;
			}
			&:hover::after {
				height: 2px;
				width: 100%;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
	.hamburgerBtn {
		display: none;
	}
}
