@import "../variables.scss";

.navbar {
	align-items: center;
	background-color: aliceblue;
	display: flex;
	height: 5rem;
	justify-content: space-between;
	padding: 0 5rem;
}
.logo {
	width: 120px;
	transition: scale 0.4s ease-in-out;
	scale: 1;
	&:hover {
		scale: 1.08;
	}
}
.navMenu {
	background-color: aliceblue;
	height: 100%;
	left: 0;
	list-style: none;
	margin-top: 0;
	padding: 3rem;
	position: fixed;
	top: 0;
	a {
		color: $foreground;
		font-size: 16px;
		text-decoration: none;
		letter-spacing: 1px;
	}
}
.hamburgerWrapper {
	padding: 2rem 0;
	position: relative;
	width: 33px;
	&::after {
		background-color: $foreground;
		content: "";
		display: block;
		height: $hamburgerBarHeight;
		margin-top: 5px;
		transition: opacity 0.4s ease-in-out,
			rotate 0.4s ease-in-out, margin-top 0.25s ease-in-out;
		width: 100%;
		position: absolute;
	}
	&::before {
		background-color: $foreground;
		content: "";
		display: block;
		height: $hamburgerBarHeight;
		transition: opacity 0.4s ease-in-out,
			rotate 0.4s ease-in, margin-top 0.25s ease-in-out;
		margin-top: calc(-5px - $hamburgerBarHeight);
		width: 100%;
		position: absolute;
	}
}
.open {
	.hamburger {
		margin-top: 0px;
		opacity: 0;
		transform: translateX(32px);
		visibility: hidden;
	}
	&::before {
		rotate: 45deg;
		margin-top: 0px;
	}
	&::after {
		rotate: -45deg;
		margin-top: -3px;
	}
}
.hamburger {
	background-color: $foreground;
	display: block;
	height: $hamburgerBarHeight;
	transition: opacity 0.4s ease-in, visibility 0.4s ease-in,
		transform 0.3s ease-in;
	opacity: 1;
	width: 100%;
}
@media (min-width: 980px) {
	.navMenu {
		display: flex;
		gap: 2rem;
		a {
			padding: 1rem 0;
			&::after {
				background-color: black;
				content: "";
				display: block;
				height: 2px;
				transition: width 0.3s ease-in-out;
				width: 0;
			}
			&:hover::after {
				height: 2px;
				width: 100%;
			}
		}
	}
}
