$foreground: rgb(26, 26, 26);
$background: rgb(20, 20, 20);
$main: rgb(193, 214, 233);
$secondary: rgb(51, 255, 143);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$hamburgerBarHeight: 3px;

$mobile: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 1440px;
$desktop: 1920px;
$desktopM: 2560px;
$desktopL: 3840px;

@media (prefers-color-scheme: dark) {
	$background: rgb(20, 20, 20);
}
